/* ==========================================================================
Color variables
========================================================================== */

$iqi-clr-white: #fff;
$iqi-clr-purple: #873260;
$iqi-clr-green: #17ac39;
$iqi-clr-lightgreen: #41c58c;
$iqi-clr-red: #b33d26;
$iqi-clr-blue: #007ab8;
$iqi-clr-lightblue: #6aace2;
$iqi-clr-brightblue: #e9e9f8;
$iqi-clr-yellow: #e6b10e;
$iqi-clr-darkgray: #555555;
$iqi-clr-black: #333333;
$iqi-clr-lightgray: #ecf0f1;
$iqi-clr-gray: #999;

$white: #fff;
$smoke-white: #fcfcfc;
$grey-white: #f2f2f2;

$primary: $iqi-clr-purple;
$secondary: $iqi-clr-green;
$accent: #00efb7;

$fade-grey: #ededed;
$light-grey: #EFF4F7;
$title-grey: #A9ABAC;
$blue-grey: #444F60;
$muted-grey: #999;
$light-blue-grey: #98a9c3;
$medium-grey: #66676b;
$basaltic-grey: #878787;
$purple: #7F00FF;
$mint: #11FFBD;
$bloody: #FC354C;
$pinky: #ff00cc;
$frost: #004e92;
$placeholder: #cecece;
$dark-grey: #344258;
$border-grey: #ccc;
$muted-grey: #999;
$section-grey: #fbfbfb;