

.brand-logo {
    display: inline-block;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
    position: relative;
    color: #f00;
  }
  
  .brand-logo-large {
    width: 219px;
    height: 20px;
    margin-left: -250px;
  }

