{{ partial "header.html" .}}

<div class="hero-bg hero-bg4">
  <div class="hero-text-box">
    <article class="hero-text-contents">
      <h2>Förbättra dina produkter och tjänster med hjälp av
        dina kunder</h2>
      <p>Quality Feedback är en digital plattform som hjälper produkt och tjänsteföretag att förbättra kommunikationen
        med
        sina kunder och få snabb återkoppling om vad som fungerar
        bra och vad som behöver rättas till med deras tjänster och produkter.</p>
      <p>Vill du veta hur vi kan hjälpa dig?
        <a href="#boka"><b>Boka en demo av tjänsten</b></a>
      </p>
    </article>
  </div>
</div>

<div class="index-section">
  <h2>Prata med dina kunder och fixa bristerna i tid</h2>
  <p>
    Vi gör det enkelt för kunder att berätta för ett företag vad som fungerar
    bra och vad som behöver rättas till med deras tjänster och produkter.
    Via t.ex. telefon eller SMS kan de ge sin återkoppling och få svar
    enkelt och smidigt.
  </p>
</div>

<div class="hero-bg hero-company" style="margin-bottom:64px">
  <div class="hero-text-box hero-text-box-left">
    <article class="hero-text-contents">
      <h2>För företaget</h2>
      <p>
        Genom att snabbt få reda på vad kunderna tycker kommer ni kunna öka
        kvalitén på era produker och tjänster. Detta tillsammans med en ökad
        kundkontakt leder till bättre kundnöjdhet.
      </p>
      <p>
        Vår molnbaserade lösning kräver ingen IT-personal eller dyra
        investeringar.
      </p>
    </article>
  </div>
</div>

<div class="hero-bg hero-customer" style="margin-bottom:64px">
  <div class="hero-text-box">
    <article class="hero-text-contents">
      <h2>För kunderna</h2>
      <p>
        Först och främst sänker vi tröskeln att få kontakt med företaget.
        Kunden bestämmer när det ska ske och kan göra det på det sätt som
        passar, t.ex. telefon, SMS eller e-post.
      </p>
      <p>
        Kunden får allt samlat på ett ställe och får direkt reda på när deras
        ärenden är åtgärdade.
      </p>
    </article>
  </div>
</div>

<div class="index-section">
  <h2>Låter det intressant?<br />Vi berättar gärna mer!</h2>
  <p>
    Varje företag är unikt och vi vill mer än gärna lyssna på hur er situation
    är. Vi berättar hur det har fungerat i tidigare projekt och ger dig en trevlig demo.
  </p>
  <p style="max-width: 600px">
    Ge oss ditt namn och e-postadress så
    <a href="https://goo.gl/forms/MPNwbu6ioRM4Ceny2">bokar vi in en demo!</a>
  </p>
</div>

{{ partial "footer.html" .}}