{{ partial "header.html" .}}

<section class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">Kvalitet</h1>
          <p class="intro-text">Förbättra dina produkter och tjänster med hjälp av dina kunder.</p>

          <div class="page-scroll">
            <a href="#about" class="btn btn-circle">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div id="about" class="container container-fluid content-section">
  <div class="row section">
    <div class="col-sm-4 col-sm-offset-1">
      <img src="/static/img/customer-support-call_761110.png">
    </div>
    <div class="col-sm-4 col-sm-offset-1">
      <h4>Vad är Quality Feedback?</h4>
      <p>
        Vi gör det enkelt för kunder att berätta för ett företag vad som fungerar
        bra och vad som behöver rättas till med deras tjänster och produkter.
        Via t.ex. telefon eller SMS kan de ge sin återkoppling och få svar
        enkelt och smidigt.<br/>
        <a href="/docs/">Läs mer →</a>
      </p>
    </div>
  </div>

  <div class="row section">
    <div class="col-sm-4 col-sm-offset-1">
      <h4>För företaget</h4>
      <p>
        Genom att snabbt få reda på vad kunderna tycker kommer ni kunna öka
        kvalitén på era produker och tjänster. Detta tillsammans med en ökad
        kundkontakt leder till bättre kundnöjdhet.
      </p>
      <p>
        Vår molnbaserade lösning kräver ingen IT-personal eller dyra
        investeringar.
      </p>
    </div>
    <div class="col-sm-4 col-sm-offset-1">
      <img src="/static/img/feedback2.png">
    </div>
  </div>

  <div class="row section">
    <div class="col-sm-4 col-sm-offset-1">
      <img src="/static/img/communication.png">
    </div>
    <div class="col-sm-4 col-sm-offset-1">
      <h4>För kunderna</h4>
      <p>
        Först och främst sänker vi tröskeln att få kontakt med företaget.
        Kunden bestämmer när det ska ske och kan göra det på det sätt som
        passar, t.ex. telefon, SMS eller e-post.
      </p>
      <p>
        Kunden får allt samlat på ett ställe och får direkt reda på när deras
        ärenden är åtgärdade.
      </p>
    </div>
  </div>
</div>
<footer class="footer-1">
  <div class="container">
    <div class="row links">
      <nav>
        <div class="col-sm-3">
          <h6>Lär dig mer</h6>
          <ul>
            <li><a href="/docs/">Om Quality Feedback</a></li>
            <li><a href="/docs/quick-start/">Kom igång</a></li>
            <li><a href="/docs/api/">API-referens</a></li>
            <li><a href="/docs/faq/">FAQ</a></li>
          </ul>
        </div>
        <div class="col-sm-4">
          <h6>Användbara länkar</h6>
          <ul>
            <li><a href="/blog/">Vår blog</a></li>
            <li><a href="/contact/">Kontakta oss</a></li>
            <li><a href="https://github.com/vigabo/" target="_blank">Open Source</a></li>
          </ul>
        </div>
        <div class="col-sm-5">
          <h6>Vi kontaktar dig</h6>
          <div class="subscribe-form">
            <p>Lämna ditt namn och telefonnummer så ringer vi upp dig istället. Föredrar du e-post? Lämna din e-postadress.</p>
            <p><a href="http://goo.gl/forms/JM7Zj8qKYC" class="btn btn-primary btn-lg">Fyll i här</a></p>
          </div>
        </div>
      </nav>
    </div>
    <div class="row licensing">
      <div class="col-sm-3">
        <div class="brand hidden-xs">
          <a alt="Vigabo AB" href="http://www.vigabo.com" target="_blank"><img src="/static/img/vigabo-logo-ab.png"></a>
        </div>
      </div>
      <div class="col-sm-4">
      </div>
      <div class="col-sm-5 credits">
        <p>
          Icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
        </p>
        <p>
          Customer support call image <a href='http://www.freepik.com/free-vector/customer-support-call_761110.htm'>designed by Freepik</a>
        </p>
      </div>
    </div>
  </div>
</footer>
{{ partial "footer.html" .}}
