{{ partial "header.html" .}}

<section class="intro">
  <div class="intro-body">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="brand-heading">Kvalitet</h1>
          <p class="intro-text">Förbättra dina produkter och tjänster med hjälp av dina kunder.</p>

          <div class="page-scroll">
            <a href="#about" class="btn btn-circle">
              <i class="fa fa-angle-double-down animated"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section id="about" class="container-fluid content-section text-center">
  <div class="white-section">
    <div class="col-md-8 col-md-offset-2">
      <h2>Vad är Quality Feedback?</h2>
      <p>Vi hjälper dig få nöjdare kunder. Med hjälp av dina kunder.</p>
      <p>Vi gör det enkelt för dem att berätta för ett företag vad som fungerar bra och vad som behöver rättas till med deras tjänster och produkter. Via t.ex. telefon, SMS, QR-kod, mobilanpassad webbsida och liknande kan de ge sin återkoppling och få svar enkelt och smidigt. Både kund och företag får allt samlat på ett ställe.</p>
      <a class="btn btn-primary btn-lg" href="...">Lär dig hur det fungerar</a>
    </div>
  </div>
  <div class="gray-section">
    <div class="col-md-8 col-md-offset-2">
      <h2>För företaget</h2>
      <ul>
        <li>Förbättra kvaliten på dina produkter och tjänster</li>
        <li>Effektivare support</li>
        <li>Ökad kundkontakt</li>
      </ul>
      <h3>Dessutom</h3>
      <ul>
        <li>Allt kan hanteras på mobilen eller datorn</li>
        <li>Ingen IT-personal behövs - allt körs på våra säkra servrar.</li>
      </ul>
      <p>Quality Feedback är för närvarande i privat beta men om du är intresserad så bjuder vi gärna in dig.</p>
      <p><a href="http://goo.gl/forms/JM7Zj8qKYC" class="btn btn-primary btn-lg">Bli inbjuden</a></p>
    </div>
  </div>
  <div class="white-section">
    <div class="col-md-8 col-md-offset-2">
      <h2>För kunderna</h2>
      <p>Först och främst sänker vi tröskeln att få kontakt med företaget.
        Det blir på kundens villkor och kunden bestämmer hur och när det ska ske.</p>
      </div>
    </div>
  </section>

  <footer class="footer-1">
    <div class="container">
      <div class="row links">
        <nav>
          <div class="col-sm-3">
            <h6>Lär dig mer</h6>
            <ul>
              <li><a href="/docs/">Om Quality Feedback</a></li>
              <li><a href="/docs/quick-start/">Kom igång</a></li>
              <li><a href="/docs/api/">API-referens</a></li>
              <li><a href="/docs/faq/">FAQ</a></li>
            </ul>
          </div>
          <div class="col-sm-4">
            <h6>Användbara länkar</h6>
            <ul>
              <li><a href="/blog/">Vår blog</a></li>
              <li><a href="/contact/">Kontakta oss</a></li>
              <li><a href="https://github.com/vigabo/" target="_blank">Open Source</a></li>
              <li><a href="http://www.vigabo.com/" target="_blank">Vigabo AB</a></li>
            </ul>
          </div>
          <div class="col-sm-5">
            <h6>Vi kontaktar dig</h6>
            <div class="subscribe-form">
              <p>Lämna ditt namn och telefonnummer så ringer vi upp dig istället. Föredrar du e-post? Lämna din e-postadress.</p>
              <p><a href="http://goo.gl/forms/JM7Zj8qKYC" class="btn btn-primary btn-lg">Fyll i här</a></p>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </footer>

  {{ partial "footer.html" .}}
